<template>
    <div class="vh-100">
        <CNavbar color-scheme="light" class="bg-light">
            <CContainer fluid>
                <CNavbarBrand href="#">Default</CNavbarBrand>
                <CNavbarNav>
                    <CDropdown variant="nav-item">
                        <CDropdownToggle color="primary" :caret="false">
                            <CIcon :icon="cilUser" size="md" />
                        </CDropdownToggle>
                        <CDropdownMenu>
                        <CDropdownItem href="#">Action</CDropdownItem>
                        <CDropdownItem href="#">Another action</CDropdownItem>
                        <CDropdownDivider />
                        <CDropdownItem href="#">
                            <CIcon :icon="cilExitToApp"/>
                            Logout
                        </CDropdownItem>
                        </CDropdownMenu>
                    </CDropdown>
                </CNavbarNav>
            </CContainer>
        </CNavbar>
        <CSidebar visible :style="{'heigth': 'calc(100vh - 56px)'}">
            <CSidebarNav>
                <CNavItem href="#">
                    <CIcon  customClassName="nav-icon" :icon="cilSpeedometer"/>
                    Nav item
                </CNavItem>
                <CNavItem href="#">
                    <CIcon  customClassName="nav-icon" :icon="cilSpeedometer"/>
                    With badge
                    <CBadge color="primary ms-auto">NEW</CBadge>
                </CNavItem>
            </CSidebarNav>
        </CSidebar>
    </div>
</template>

<script>
import {
    CNavbar,
    CContainer,
    CNavbarBrand,
    CButton,
    CDropdown,
    CDropdownToggle,
    CDropdownMenu,
    CDropdownItem,
    CNavbarNav,
    CDropdownDivider,
    CSidebar,
    CSidebarNav,
    CNavItem,
    CBadge,
} from "@coreui/vue"
import { CIcon } from "@coreui/icons-vue"
import { cilUser, cilExitToApp, cilSpeedometer } from "@coreui/icons"
export default {
    components: {
        CNavbar,
        CContainer,
        CNavbarBrand,
        CButton,
        CDropdown,
        CDropdownToggle,
        CDropdownMenu,
        CDropdownItem,
        CIcon,
        CNavbarNav,
        CDropdownDivider,
        CSidebar,
        CSidebarNav,
        CNavItem,
        CBadge,
    },
    data() {
        return {
            cilUser,
            cilExitToApp,
            cilSpeedometer
        }
    }
}
</script>

<style scoped>
.custom-h {
    height: calc(100vh - 56px) !important;
}
</style>