<template>
    <!-- <CContainer fluid class="vh-100">
        <Default />
        <div>teste</div>
        <CButton color="primary" @click="() => { openModal = true }">testando</CButton>
        <CModal :visible="openModal" @close="() => { openModal = false }" :backdrop="false" :keyboard="false">
            <CModalHeader>
                <CModalTitle>Teste</CModalTitle>
            </CModalHeader>
            <CModalBody>
                Realizando teste
            </CModalBody>
            <CModalFooter>
                <CButton color="secondary" @click="() => { openModal = false }">
                    Close
                </CButton>
                <CButton color="primary">Save changes</CButton>
            </CModalFooter>
        </CModal>
    </CContainer> -->
    <div class="min-vh-100">
        <Default />
    </div>
</template>

<script>
import Default from "./components/Layouts/Default/Default.vue"
import {
    CContainer,
    CButton,
    CModal,
    CModalHeader,
    CModalTitle,
    CModalBody,
    CModalFooter,
} from '@coreui/vue'
export default {
    components: {
        CContainer,
        CButton,
        CModal,
        CModalHeader,
        CModalTitle,
        CModalBody,
        CModalFooter,
        Default,
    },
    data() {
        return {
            openModal: false,
        }
    }
}
</script>

<style scoped>
.vh-100 {
    height: 100vh;
}
</style>